<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js" integrity="sha512-Y5MDU6RaF5h5HE5BgqJlKkV12kbkbIgWHutcT+XHHNOUzr+HHjWZGC02sqEguuPglmFms3cc08WH2PhQ5rF8Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const socket = io()
    socket.on('message',message =>{
        document.getElementById('message').innerHTML = message
    })
    const chatform1 = document.getElementById('chatform')
function emit1(){
    const msg1 = document.getElementById('msg').value
    socket.emit('chatMessage',msg1)
}
    </script>
</head>
<input type="text" id="msg" value="message">
<button onclick="emit1()"> Send</button>
<p id="message"></p>

</html>